@import "tailwindcss";

:root {
  --background: #ffe2ad;
  --foreground: #171717;
  --card-background: #fffeb5;
  --card-foreground: #171717;
  --input-background: #272727;
  --input-foreground: #ededed;
  --chart-line: #0300c5;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --card-background: #171717;
  --card-foreground: #ededed;
  --input-background: #272727;
  --input-foreground: #ededed;
  --chart-line: #10b981;
}

body {
  background: var(--background);
  color: var(--foreground);
  transition: background 0.3s ease, color 0.3s ease;
}

.card {
  background: var(--card-background);
  color: var(--card-foreground);
}

.input {
  background: var(--input-background);
  color: var(--input-foreground);
}
